@{
    ViewData["Title"] = "Home Page";
    ViewData["Footer"] = "large";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="jumbotron shadow-lg index-jumbotron">
    <div class="row">
        <div class="col col-sm-12 index-picture shadow">
            <div class=" text-center">
                <img class=" img-fluid img-responsive" src="~/images/pictureHope.png" height="200" alt=Logo1>
            </div>
        </div>
        <div class="col col-sm-12">
            <div>
                <h1 class="display-3"><i class="fa fa-arrow-right fa-4x"></i>@Localizer["Hello"]</h1>
                <p class="lead">@Localizer["Hello_bottom_information"]</p>
            </div>
        </div>
    </div>
  <hr class="my-4">
  <p>@Localizer["over_button_text"]</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">@Localizer["learn_more"]</a>
  </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">@Localizer["login"]</a>
        <a class="btn btn-primary btn-lg" href="#" role="button">@Localizer["registration"]</a>
    </p>

</div>

<div class=" container" >
    <blockquote class="blockquote text-right">
        <p class="mb-0">@Localizer["text_1"]</p>
        <footer class="blockquote-footer">@Localizer["text_2"]<cite title="Source Title">@Localizer["text_3"]</cite></footer>
    </blockquote>
</div>


 <hr class="my-4">
   

<div>
    <div class="jumbotron bg-secondary shadow-lg index-jumbotron">
       
    </div>
    
</div>
